aside {
    display: flex;
    width: 100%;
    flex-direction: column;
    background: var(--dark-dark1, #101021);
    height: calc(100vh - 5vh);
    margin-top: 5vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

aside::-webkit-scrollbar {
    width: 4px; 
}

aside::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 4px; 
}
  
aside::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
.right-sidebar {
    flex: 1.5;
    border-left: 1px solid var(--dark-dark3, #2D2D42);
}

.left-sidebar {
  flex: 1.5;
  border-right: 1px solid var(--dark-dark3, #2D2D42);
}
  
